/* this is comment used in css files. comment have no value in coding does not affect codes */

/* -------------universal styling */


/* for smooth scroll*/

html{
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------top navbar styling */
.top-header {
    background-color: #f7ffef;
    height: auto;
    min-width: 100%;
}

header {
    min-width: 100vw;
    background-color: transparent;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-img {
    height: 90%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(79, 78, 78, );
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover {
    color: black;
}

.btn {
    background-color: #01b671;
    padding: 10px 25px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    /* need in futute styling of buttom*/
}

.btn:hover {
    background-color: #31a25e;
}

/*-----------------hero-section styling */

.hero-section {
    min-width: 100vw;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 100px;
}

.left-box {
    margin-left: 40px;
    padding: 50px 0;
}

.started {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.ready {
    color: rgb(175, 25, 25);
    margin-bottom: 8px;
    font-weight: 550;
}

.left-box h1 {
    font-size: 34px;
    margin-bottom: 8px;
    line-height: 44px;
}

span {
    color: #60d48e;
}

.left-para {
    margin-bottom: 30px;
}

/*--- style right image of top section */
.right-img {
    width: 500px;
}

/* styling feature boxer and section */

.feature {
    background-color: white;
    height: 50vh;
    padding: 0 100px;
    /* paddingof each section will be same as much as needed */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxes {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.boxes:hover {
    box-shadow: 0px 5px 15px #bdbdbd;
    cursor: pointer;
}

.boxe h2 {
    font-size: 18px;
    color: rgb(29, 48, 48);
    margin: 5px 0;
}

.boxes p {
    color: rgb(131, 131, 131);
}

.al-shadow {
    box-shadow: 0px 5px 15px #bdbdbd;
}


/*--------- styling online course section */
.course-top {
    padding: 0 0 100px;
    /* only need bottom padding or use padding-bottom:100px */
}

.online-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: #01b671;
}

.online-courses {
    background-color: white;
    height: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.online-courses img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.online-box {
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(177, 177, 177), 2px 2px 5px rgb(177, 177, 177);
    transition: 0.3s ease-in-out;
}

.online-box:hover {
    box-shadow: 0px 5px 15px #bdbdbd;
    cursor: pointer;
}

.online-box h2 {
    font-size: 18px;
    color: rgb(49, 48);
    margin: 5px 0;
}

.online-box p {
    color: rgb(99, 99, 99);
    margin: 5px 0;
}

.course-btn {
    font-size: 14px;
    color: white;
    color: padding;
    margin: 7px 0;
}

.bottom-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 0 0;
}

.left-date {
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
}

.right-stu {
    display: flex;
    align-items: center;
    position: relative;
    left: 30px;
}

.left-date p,
.right-stu p {
    font-size: 14px;
    margin-left: 5px;
}
/*-- ----------testimonial styling */

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;   /* later can change as per need */
    padding: 100px;
}

.test-title{
       color: #01b670;
       padding-bottom: 40px;
}
.testimonial-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
}

.testimonial-box img{
    margin-right: 30px;
}
.testimonial-box p{
    font-weight: 500;
    color: #726969;
}


/*--- footer styling ---*/
footer{
    height: 60vh;
    background-color: #282432;
    padding: 0 100px 100px 0;
}
.footer-box{
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.footer-about{
    width: 40%;
    color: white;
    margin-left: 120px;
}
.footer-links h3{
    margin-bottom: 10px;
    color: white;
    font-size: 17px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    margin: 6px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
}
.footer-links a:hover{
    color: white;
}

.end{
    text-align: center;
    color: white;
}